<!DOCTYPE html>
<html lang="en" class=" js ">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> <!-- begin SEO -->
	<title>AI - Sverre Torp</title>
	<meta property="og:locale" content="en-US">
	<meta property="og:site_name" content="Sverre Torp">
	<meta property="og:title" content="itemscope">
	<link rel="canonical" href="/misc/">
	<meta property="og:url" content="/misc">
	<meta name="twitter:site" content="@v_hals">
	<meta name="twitter:title" content="Misc">
	<meta name="twitter:description" content="Personal homepage">
	<meta name="twitter:url" content="Misc">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image" content="http://bach.ai/images/sitelogo.png">
	<meta name="twitter:creator" content="@v_hals"> <script type="text/javascript" async="" src="./static/ga.js.last ned">
	</script>
	<script type="application/ld+json"> { "@context": "http://schema.org", "@type": "Organization", "url": "/", "logo": "/sitelogo.png" } </script> <script type="application/ld+json"> { "@context" : "http://schema.org", "@type" : "person", "name" : "Sverre Torp", "url" : "/", "sameAs" : null } </script> <!-- end SEO -->
	<link href="/" type="application/atom+xml" rel="alternate" title="Sverre Torp Feed"> <!-- http://t.co/dKP3o1e -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <script> document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js '; </script> <!-- For all browsers -->
	<link rel="stylesheet" href="./static/styles/main.css">
	<meta http-equiv="cleartype" content="on">
	<link rel="shortcut icon" type="image/png" href="/images/favicon.png">
	<link href="./static/styles/css" rel="stylesheet" type="text/css">
	<link href="./static/styles/css(1)" rel="stylesheet" type="text/css">
	<style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style>
	</head>
		<body> <!--[if lt IE 9]>
		<div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
		<![endif]-->
		<div class="masthead">
		<div class="masthead__inner-wrap">
		<div class="masthead__menu">
		<nav id="site-nav" class="greedy-nav"> <button class="hidden" count="0">
		<div class="navicon">
		</div>
		</button>
		<ul class="visible-links">
		<li class="masthead__menu-item masthead__menu-item--lg"> <a class="sitelogo" href="/"> Sverre <strong>Torp</strong>
		</a>
		</li>
						<li class="masthead__menu-item">
							<a href="/about">About</a>
						</li>
						<li class="masthead__menu-item">
							<a href="/projects">Projects
							</a>
						</li>
						<li class="masthead__menu-item">
							<a href="/misc">Misc.
							</a>
						</li>
						<li class="masthead__menu-item">
							<a href="/random">Random Thoughts</a>
						</li>
						<li class="masthead__menu-item">
							<a href="/contact">Contact
							</a>
						</li>
		</ul>
		<ul class="hidden-links hidden">
		</ul>
		</nav>
		</div>
		</div>
		</div>
		<div id="main" role="main">
		<article class="page" itemscope="" itemtype="http://schema.org/CreativeWork">
		<meta itemprop="headline" content="AI">
		<div class="page__inner-wrap">
		<header>
		<h1 class="page__title" itemprop="headline">Misc</h1>
		</header>
		<section class="page__content" itemprop="text">
		
		<div class="archive">
			<h1 class="page__title">
				
			</h1>
			<h3 class="archive__subtitle">.
			</h3>
			<div class="list__item">
				<article class="archive__item" itemscope="" itemtype="http://schema.org/CreativeWork"> 
					<a href="/misc/misc1">
						<h2 class="archive__item-title" itemprop="headline">Videos
						</h2>
					</a>
					<p class="archive__item-excerpt" itemprop="description">Look at this!
					</p>
				</article>
			</div>
		</section>
		<footer class="page__meta">
		</footer>
		</div>
		</article>
		</div>
		<div class="page__footer">
		<footer>
		<div class="page__footer-follow">
		<ul class="social-icons">
		<li>
		<strong>Follow:</strong>
		</li>
		<li>
		<a href="https://twitter.com/v_hals">
		<i class="fa fa-fw fa-twitter-square" aria-hidden="true">
		</i> Twitter</a>
		</li>
		<li>
		<a href="/feed.xml">
		<i class="fa fa-fw fa-rss-square" aria-hidden="true">
		</i> Feed</a>
		</li>
		</ul>
		</div>
		<div class="page__footer-copyright">© 2023 Sverre Torp.</div>
		</footer>
		</div>
		<script src="./static/main.min.js.last ned">
		</script> <script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', '75035587']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script>
		</body>
</html>